body {
    background-color: #eee;
}

div.row {
    margin: 0px;
}

div.input {
    padding: 1px;
}

div.form-group {
    margin: 0px;
    padding: 1px;
}

input.form-control {
    padding: 6px 0px 6px 12px;
}

input[type=number]:hover::-webkit-inner-spin-button,
input[type=number]:focus::-webkit-inner-spin-button {
    width: 14px;
    height: 35px;
}

.plusBtn {
    border: none;
    background-color: inherit;
}

#bootstrap-overrides .disabled {
    opacity: 0.2;
}

#bootstrap-overrides .paddingLeftZero {
    padding-left: 0px;
}

button.close {
    float: none;
    padding: 0px 12px;
}

#table-row {
    margin-top: 30px;
}

table {
    outline: 2px solid lightgrey;
}

#bootstrap-overrides th {
    vertical-align: middle;
    width: 1%;
}

#bootstrap-overrides td {
    vertical-align: middle;
}

#thead th {
    padding: 8px 8px 8px 14px;
}

.plainTextInput {
    border: none;
    background-color: inherit;
    padding-left: 14px;
}

input {
    width: 100%;
}

#agnoRow {
    margin-top: 30px;
    text-align: center;
}

#agno {
    font-size: 70px;
}

@media screen and (max-width:768px) {
    #bootstrap-overrides .paddingLeftZero {
        padding-left: 0px;
        padding-right: 2px;
    }

    #bootstrap-overrides .pdLeftRightZero {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    #bootstrap-overrides .not {
        padding-right: 14px;
    }
}
